body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(13, 13, 65);
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  color: white;
  justify-content: space-between;
}

.table-container {
  width: 48%;
  margin-top: 20px;
}

h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #444;
  color: white;
}

th {
  background-color: #1a1a40;
}

tr:nth-child(even) {
  background-color: #2b2b57;
}

.item-images-group {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.item-image {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.boton-volver {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #db1212;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.boton-volver:hover {
  background-color: #db1212;
  transform: translateX(-50%) scale(1.1);
  color: white;
}

.boton-volver:active {
  background-color: #db1212;
  color: white;
}

.boton-volver a {
  text-decoration: none;
  color: white;
}


.build-customization {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
}
.custom-space {
  flex: 1;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.custom-button:hover {
  background-color: #45a049;
}

.logOut-button {
  background-color: #db1212;
  width: 200px; 
}

.logOut-button:hover {
  background-color: #c11c1c; 
}


.build-list {
  margin-top: 40px;
  color: white;
}

.build-list h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.no-builds-message {
  color: #ccc;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
}

.custom-builds-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.custom-builds-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.custom-builds-table th {
  background-color: #1a1a40;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.custom-builds-table tr:nth-child(even) { /* Cambia el color de fondo de las filas pares */
  background-color: #2b2b57;
}

.champion-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.champion-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.items-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #555;
}



.custom-table {
  width: 90%; 
  margin: 20px auto; 
  
}


.custom-table td {
  padding: 12px; 
  text-align: left;
  border-bottom: 1px solid #444; 
  color: white; 
}

.custom-table th {
  background-color: #1a1a40; 
  padding: 12px; 
  text-align: left;
  border-bottom: 1px solid #444; 
  color: white; 
}

.custom-table tr:nth-child(even) { /* Cambia el color de fondo de las filas pares */
  background-color: #2b2b57;
}

h1 {
  color: white; 
  text-align: center;
  font-size: 28px; 
  margin-bottom: 20px; 
}