<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="header-container">
    <div class="top-left">
      <img src="../../../assets/campeones/Aatrox.png" class="champion-image">
    </div>
    <div class="top-right">{{ champions[0].name }}</div>
  </div>
  <div class="habilities">
    <div class="hability-container" (mouseenter)="showVideo(passiveVideo)" (mouseleave)="hideVideo(passiveVideo)">
      <img src="../../../assets/Aatrox/Aatrox_Passive.png" class="hability-image">
      <video #passiveVideo class="video-hover" src="../../../assets/Aatrox/Videos/Passive.mp4" autoplay loop
        [muted]="true">
      </video>
      <span class="keys-habilities">P</span>
    </div>
  
    <div class="hability-container" (mouseenter)="showVideo(qVideo)" (mouseleave)="hideVideo(qVideo)">
      <img src="../../../assets/Aatrox/AatroxQ.png" class="hability-image">
      <video #qVideo class="video-hoverq" src="../../../assets/Aatrox/Videos/AatroxQ.mp4" autoplay loop
        [muted]="true">
      </video>
      <span class="keys-habilities">Q</span>
    </div>
    <div class="hability-container" (mouseenter)="showVideo(wVideo)" (mouseleave)="hideVideo(wVideo)">
      <img src="../../../assets/Aatrox/AatroxW.png" class="hability-image">
      <video #wVideo class="video-hoverw" src="../../../assets/Aatrox/Videos/AatroxW.mp4" autoplay loop
        [muted]="true">
      </video>
      <span class="keys-habilities">W</span>
    </div>
    <div class="hability-container" (mouseenter)="showVideo(eVideo)" (mouseleave)="hideVideo(eVideo)">
      <img src="../../../assets/Aatrox/AatroxE.png" class="hability-image">
      <video #eVideo class="video-hovere" src="../../../assets/Aatrox/Videos/AatroxE.mp4" autoplay loop
        [muted]="true">
      </video>
      <span class="keys-habilities">E</span>
    </div>
    <div class="hability-container" (mouseenter)="showVideo(rVideo)" (mouseleave)="hideVideo(rVideo)">
      <img src="../../../assets/Aatrox/AatroxR.png" class="hability-image">
      <video #rVideo class="video-hoverr" src="../../../assets/Aatrox/Videos/AatroxR.mp4" autoplay loop
        [muted]="true">
      </video>
      <span class="keys-habilities">R</span>
    </div>
  </div>

  <div class="aatrox-stats">
    <div class="stats-group">
      <div class="stat-container">
        <img src="../../../assets/stats/attack.png" class="stat-image">
        <span>{{champions[0].attack_damage}}</span>
      </div>
      <div class="stat-container">
        <img src="../../../assets/stats/StatModsArmorIcon.png" class="stat-image">
        <span>{{champions[0].armor}}</span>
      </div>
      <div class="stat-container">
        <img src="../../../assets/stats/StatModsHealthScalingIcon.png" class="stat-image">
        <span>{{champions[0].health}}</span>
      </div>
      <div class="stat-container">
        <img src="../../../assets/stats/StatModsMovementSpeedIcon.png" class="stat-image">
        <span>{{champions[0].speed}}</span>
      </div>
    </div>
    <img src="../../../assets/Aatrox/AatroxSkins/Aatrox_0.jpg" class="aatrox-skin">
  </div>

  <div class="contenedor-runas">
    <div class="runas-title">
      <h2>Runas Recomendadas</h2>
    </div>
    <div class="runas">
      <div class="runa-branch">
        <img src="../../../assets/runas/RunesIcon.png" class="precision">
        <h3>Precision</h3>
        <div class="runa-precision">
          <img src="../../../assets/runas/Precision/PressTheAttack/PressTheAttack.png" class="runa-apagada">
          <img src="../../../assets/runas/Precision/LethalTempo/LethalTempoTemp.png" class="runa-apagada">
          <img src="../../../assets/runas/Precision/FleetFootwork/FleetFootwork.png" class="runa-apagada">
          <img src="../../../assets/runas/Precision/Conqueror/Conqueror.png" class="runa-image">
        </div>

        <div class="runa-precision">
          <img src="../../../assets/runas/Precision/AbsorbLife/AbsorbLife.png" class="runa-apagada">
          <img src="../../../assets/runas/Precision/Triumph.png" class="runa-image">
          <img src="../../../assets/runas/Precision/PresenceOfMind/PresenceOfMind.png" class="runa-apagada">
        </div>

        <div class="runa-precision">
          <img src="../../../assets/runas/Precision/LegendAlacrity/LegendAlacrity.png" class="runa-image">
          <img src="../../../assets/runas/Precision/LegendHaste/LegendHaste.png" class="runa-apagada">
          <img src="../../../assets/runas/Precision/LegendBloodline/LegendBloodline.png" class="runa-apagada">
        </div>

        <div class="runa-precision">
          <img src="../../../assets/runas/Precision/CoupDeGrace/CoupDeGrace.png" class="runa-apagada">
          <img src="../../../assets/runas/Precision/CutDown/CutDown.png" class="runa-apagada">
          <img src="../../../assets/runas/last_Stand.png" class="runa-image">
        </div>
      </div>
      <div class="runa-branch">
        <img src="../../../assets/runas/7204_Resolve.png" class="resolve">
        <h3>Resolve</h3>
        <div class="runa-resolve">
          <img src="../../../assets/runas/Resolve/Demolish/Demolish.png" class="runa-apagada">
          <img src="../../../assets/runas/Resolve/FontOfLife/FontOfLife.png" class="runa-apagada">
          <img src="../../../assets/runas/Resolve/MirrorShell/MirrorShell.png" class="runa-apagada">

        </div>

        <div class="runa-resolve">
          <img src="../../../assets/runas/Resolve/Conditioning/Conditioning.png" class="runa-apagada">
          <img src="../../../assets/runas/Resolve/SecondWind/SecondWind.png" class="runa-image">
          <img src="../../../assets/runas/Resolve/BonePlating/BonePlating.png" class="runa-apagada">

        </div>

        <div class="runa-resolve">
          <img src="../../../assets/runas/Resolve/Overgrowth/Overgrowth.png" class="runa-image">
          <img src="../../../assets/runas/Resolve/Revitalize/Revitalize.png" class="runa-apagada">
          <img src="../../../assets/runas/Unflinching_rune.png" class="runa-apagada">

        </div>
      </div>
    </div>
  </div>

  <hr class="division">
  <div class="enlaces">
    <a routerLink="/Aatrox-counters" class="enlace-box">Counters/Matchups</a>
    <a routerLink="/aatrox-trends" class="enlace-box">Trends</a>
    <a routerLink="/builds-personalizadas" class="enlace-box">Build</a>
    <a routerLink="/Aatrox-skins" class="enlace-box">Skins</a>
  </div>

  <hr>

  <div class="weaknesst-champ">
    <h3>Toughest Matchups</h3>
    <div class="contenedor-campeones">
      <div class="caja-campeon" *ngFor="let matchup of counterMatchups">
        <img [src]="'../../assets/campeones/' + QuitarApostrofes(matchup.campeon) + '.png'" class="imagen-campeon" />
        <div class="info-campeon">
          <h3>{{ matchup.campeon }}</h3>
          <p class="winrate">{{ matchup.winrate }}% Win Rate</p>
          <p>{{ matchup.numero_partidas }} Matches</p>
        </div>
      </div>
    </div>
  </div>
  
  <button class="boton-volver">
    <a routerLink="/champions-list">Volver</a>
  </button>